* {
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: image-set(
    url(./components/img/bg-header_2020-04-21/bg-header.png) 1x,
    url(./components/img/bg-header_2020-04-21/bg-header@2x.png) 2x,
    url(./components/img/bg-header_2020-04-21/bg-header@3x.png) 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 773px;
}

.CampK12-Logo {
  width: 144px;
  height: 24px;
  object-fit: contain;
}
.notification {
  position: relative;
  display: inline-block;
}
.notification .notify-badge {
  position: absolute;
  top: -10px;
  left: 25px;
  border-radius: 50%;
  background-color: red;
  padding: 2px 5px;
  font-size: 0.8rem;
}
.skill-wrapper {
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); */
  background-color: #71aef3;
  width: 104px;
  height: 34px;
}
.options {
  position: relative;
  top: 150px;
}
.box {
  height: 200px;
  background-color: grey;
}

main {
  position: relative;
  top: -50px;
  max-width: 100%;
  /* height: 1200px; */
  background-image: linear-gradient(to bottom, #eef9ff -10%, #ade1ff);
  z-index: -1;
}
.card-header {
  position: relative;
}
.arrow {
  background-color: white;
  color: blueviolet;
  border-radius: 10%;
  font-size: 2rem;
}
.tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 5px;

  opacity: 0.4;
}
.rectangle {
  background-color: #dbf2ff;
  position: relative;
  top: -50px;
}
.sel-grade {
  z-index: 4;
}
.grade-pos {
  position: absolute;
  top: -20px;
}

.sec-online {
  display: absolute;
  padding-top: 150px;
}

#grade-courses {
  background-color: rgb(230, 224, 224);
  position: relative;
  top: -50px;
  z-index: 1;
}
.opac {
  opacity: 0.8;
}
.box2 {
  color: white;
}

@media (max-width: 600px) {
  header {
    height: auto;
  }
  section {
    background-image: linear-gradient(to bottom, #eef9ff -10%, #ade1ff);
  }

  .options {
    color: black;
    top: 0px;
  }
}
footer {
  background-color: blueviolet;
  z-index: 1;
}

.wrapper {
  position: relative;
}
